*.aux
*.glo
*.idx
*.log
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*.txt
*.docx
*.bak
*.xlsx
*.png
*.psd
/kruscht/
.DS_Store
/.vscode/
/example_dash/
/mpi_statistik/
/masterthesis/Figures/
masterthesis/.DS_Store
/masterthesis/Figures/Systemarchitektur_Ts2.png
/masterthesis/Figures/Systemarchitektur_Ts3.png
/masterthesis/Figures/ablauf_tab_ps.png
/masterthesis/Figures/ablauf_tab_ps.psd
/masterthesis/Figures/dash_struc.png
/masterthesis/Figures/tab1.png
/masterthesis/Figures/tab2-bearb.psd
/masterthesis/Figures/tab2.png
/masterthesis/Figures/tab2_1.png
/masterthesis/Figures/tab2_bearb.png
/masterthesis/Figures/tab3.png